@model IReadOnlyCollection<TsaSubmissions.Web.Models.Problem>
@{
    ViewData["Title"] = "Problems";
}

<h1>Problems</h1>

@if (User.IsInRole(nameof(TsaSubmissions.Web.Models.AppRole.Judge)))
{
    <div class="mb-3">
        <a class="btn btn-success" asp-controller="Judge" asp-action="CreateProblem">Create New Problem</a>
        <a class="btn btn-primary" asp-controller="Judge" asp-action="UserList">User List</a>
        <a class="btn btn-secondary" asp-controller="Judge" asp-action="BulkImportUsers">Bulk Import Users</a>
    </div>
}

@if(User.IsInRole(nameof(TsaSubmissions.Web.Models.AppRole.Participant)))
{
    <div class="alert alert-info">
        <strong>Welcome, Participant!</strong> Once you click "Open Problem" and view it, your 2-hours to complete the competition starts.
    </div>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var problem in Model)
    {
        <tr>
            <td>@problem.Title</td>
            <td>
                @if (User.IsInRole(nameof(TsaSubmissions.Web.Models.AppRole.Judge)))
                {
                    <a class="btn btn-sm btn-outline-info" asp-controller="Judge" asp-action="ViewProblem" asp-route-id="@problem.Id">Preview Problem</a>
                    <a class="btn btn-sm btn-outline-primary" asp-controller="Judge" asp-action="ProblemSubmissions" asp-route-problemId="@problem.Id">View Submissions</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-controller="Judge" asp-action="EditProblem" asp-route-id="@problem.Id">Edit</a>
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Judge" asp-action="DeleteProblem" asp-route-id="@problem.Id">Delete</a>
                }
                else
                {
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@problem.Id">Open Problem</a>
                    <a class="btn btn-outline-secondary ms-2" asp-action="MySubmissions" asp-route-problemId="@problem.Id">View My Submissions</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
